html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
  display: flex;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 3px solid black;
  width: 250px;
  height: 250px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  display: block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.apple {
  background: red;
  width: 5px;
  height: 5px;
  z-index: 2;
}

.snake {
  background: green;
  width: 5px;
  height: 5px;
  z-index: 2;
}
