html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
  display: flex;
}

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-weight: bold;
  background-color: rgb(137, 193, 17);
}

h1 {
  font-size: 40px;
  padding-bottom: 35px;
  margin: 15px auto;
  width: 410px;
  border-bottom: 5px solid rgb(22, 28, 10);
}

.paused {
  position: absolute;
  top: 0;
  left: 0;
  width: 410px;
  height: 410px;
  font-size: 50px;
  padding-top: 150px;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 410px;
  height: 410px;
  font-size: 50px;
  padding-top: 150px;
}

.paused-hidden {
  display: none;
}

.game-over-hidden {
  display: none;
}

.figure-container {
  width: 410px;
  height: 410px;
  position: relative;
  margin: auto;
}

figure {
  display: inline-block;
  border: 5px solid rgb(22, 28, 10);
  position: relative;
}

p {
  margin: 0;
  position: absolute;
  top: -45px;
  left: 0;
}

li {
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.apple {
  background-color: red;
  border-radius: 4px;
}

.snake {
  background-color: rgb(22, 28, 10);
  border: 1px solid rgb(137, 193, 17);
  border-radius: 2px;
}
